<!-- 
  <div class="parallax1"></div>
  <div style="height:1000px;background-color:red;font-size:36px">
    Scroll Up and Down this page to see the parallax scrolling effect.
    This div is just here to enable scrolling.
    Tip: Try to remove the background-attachment property to remove the scrolling effect.
    </div>
  <div class="parallax2"></div>
    

<router-outlet></router-outlet>




<style>
.parallax1 {
  background-image: url("../assets/donald.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  background-image: url("../assets/city.jpg") ;

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img{
  height: 1000px;
}
</style> -->
<div>
  <router-outlet>
  </router-outlet>
</div>
